# This is an example of the .env file. Copy this file to .env and fill in the values.
# Do not commit the .env file to version control.

# NODE_ENV can be 'development', 'production', or 'test'
NODE_ENV=development

PORT=3000

# URL of deployed frontend. Requires following format https://{example.com}
FRONTEND_PUBLIC_URL=http://localhost:3001/
# For production
# FRONTEND_PUBLIC_URL=https://online-job-trackr.vercel.app/

# DB connection details
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# use the following command to generate two different tokens
# node -e "console.log(require('crypto').randomBytes(256).toString('base64'));"
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=

# 7d 5h 3m 1s
# [zeit/ms](https://github.com/zeit/ms.js)
JWT_ACCESS_TOKEN_EXPIRATION_TIME=1h
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d

# Email
RESEND_TOKEN=
NOTIFICATION_EMAIL=

# Appwrite Configuration
APPWRITE_PROJECT_ID=
APPWRITE_BUCKET_ID=
