DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
# use the following command to generate two different tokens
# node -e "console.log(require('crypto').randomBytes(256).toString('base64'));"
JWT_ACCESS_TOKEN=
JWT_REFRESH_TOKEN=
# 7d 5h 3m 1s
JWT_ACCESS_TOKEN_EXPIRATION_TIME=1h
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d
# Email
RESEND_TOKEN=
NOTIFICATION_EMAIL=
APPWRITE_PROJECT_ID=
APPWRITE_BUCKET_ID=